<form [formGroup]="form">
  <fieldset>
    <legend>Factores</legend>
    <div formArrayName="factores" *ngFor="let control of campoFactores.controls; let i = index"
      style="display: flex; flex-direction: row; justify-content: space-around;">
      <ng-container [formGroupName]="i">
        <div>
          <label for="activo">{{ factores[i].nombre }} : </label>
          <input formControlName="activo" autocomplete="off" id="activo" type="checkbox">
        </div>
        <div>
          <select *ngIf="factores[i].descripciones.length>0" name="factores" id="factores" #factoresElm (change)="seleccionarFactor({descripcion: factoresElm.value, factorId: i})">
            <option value=""></option>
            <option  *ngFor="let descripcion of factores[i].descripciones" [value]="descripcion">
              {{ descripcion }}
            </option>
          </select>
        </div>
        <div>
          <label for="descripcion">descripciones: </label>
          <div formArrayName="descripciones" *ngFor="let descripcion of getDescripciones(i).controls; let j = index">
            <ng-container [formGroupName]="j">
              <input formControlName="valor" autocomplete="off" id="descripcion" type="text">
              <button (click)="removerDescripcion(i, j)">-</button>
            </ng-container>
          </div>
          <br>
          <button (click)="seleccionarFactor({factorId: i, descripcion: ''})">add</button>
          <hr><br>
        </div>
      </ng-container>
    </div>
    <input autocomplete="off" id="otro" #otro type="text">
    <button type="button" (click)="addOtro(otro.value)">otro</button>
  </fieldset>
  <br>
  <button [disabled]="!form.valid">enviar</button>
  <pre>{{form.value | json}}</pre>
</form>